@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
  font-family: 'Noto Naskh Arabic', sans-serif;
}